

.recipecard {
    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__reactions{
        display: flex;
        flex-direction: row;
        
    }
}