.recipe-img{
    width: 6.25rem;
    height: 6.25rem;
}



.card-background{
    background-color: white;
    // width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .9375rem;
}


.communityrecipe{
    &__header{
        margin-bottom: 0;
    }
    &__description{
        font-weight: 300;
        font-size: small;
        margin-top: .25rem;
        text-align: center;
    }
    &__container{
        position: absolute;
        top: 50px;
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        background-color: #FAFAFA;
        // background-color: #EEEEEE;

        &-title{
            margin-bottom: 1rem;
        }

        &__inner{
            width: 90%;
            border-radius: .9375rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1rem;
        }
    }
    &__page{
        height: 100vh;
    }
    &__cards-container{
        padding-top: 1rem;
    }
    &-btn{
        margin-top: .5rem;
        background-color: #00ADB5;
        color: #fff;
        border: none;
        border-radius: 2.8125rem;
        cursor: pointer;
        width: 12.375rem;
        font-size: medium;
        padding: 10px;
        margin: 10px 0px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    &-input{
        background-image: url("../../assets/images/search-teal.png");
        background-repeat: no-repeat;
        background-position: left;
        background-position: 4%;
        width: 80%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        padding-left: 2rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .9375rem;
        font-family: 'Roboto', sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: .5rem;
    }
}

.paragraph{
    margin: 0;
    margin-bottom: .5rem;
    font-weight: bold;
}
