
.login{
    &__title{
        color: white;
        font-family: poppins;
    }
    &__header{
        display: flex;
        color: white;
        padding: 1rem;
        margin: 0;

    }
    &__container {
        background-image: url('../../assets/images/login-background.jpg');
        background-size: cover;
        height:100vh;
        display: flex;
        // background-position: 0 30%;
        // position: relative;
        // padding: 1rem;
    }

    &__box{
        padding-bottom: 1.5625rem;
        padding-left: 1.5625rem;
        padding-right: 1.5625rem;
        // position: absolute;
        // display: flex;
        // flex-direction: column;
        // right: 10%;
        // bottom: 45%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: auto auto;
        border-radius: 5px;
        box-shadow: 0 0 10px #000;
        // background-color: white;
    }
    &-btn{
        margin-top: .5rem;
        background-color: #00ADB5;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        padding: 10px;
        margin: 20px 0px;
    }

    &__username{
        margin-bottom: 0.5rem;
        margin: 10px 0px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
        font-family: poppins;
    }

    &__password{
        margin: 10px 0px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 18px;
        font-family: poppins;
    }
}

.btn__container{
    padding-top: 1.5625rem;
    font-family: poppins;
}