.inputform-container{
    // background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.calculator{
    &__container{
        position: absolute;
        // position: fixed;
        top: 52px;
        // top: 63px;
        max-height: 100vh;
        // overflow-x: hidden;
        // overflow-y: scroll;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        &-inner{
            background-color: white;
            width: 90%;
            border-radius: .9375rem;
            // display: flex;
            // flex-direction: column;
            align-items: center;
        }


        &-lowerouter{
            background-color: white;
            width: 289px;
            // margin-top: 170px;
            border-radius: 0.9375rem;
            margin-top: 7.5rem;
        }

        &-loweinner{
            background-color: #EEEEEE;
        }
    }
    &__title{
       font-family: 'Roboto', sans-serif;
       margin-top: 0;
       margin-bottom: 0;
       margin-left: 0;
       font-weight: 500;
       font-size: medium;
       padding: .5rem;
       padding-bottom: .25rem;
       padding-top: 1.125rem;
    }
    &__description{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: small;
        line-height: 1rem;
        margin: 0 auto;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 1.5rem;
        padding-top: 0;
        padding-left: 8px;
        text-align: justify;
    }
}

.gender{
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        margin: 0;
        font-size: smaller;
        color: #00ADB5;
        font-weight: 500;
    }
    &__radio{
        font-size: smaller;
        // font-weight: 500;
    }
}

.height{
    &__container{
        display: flex;
        flex-direction: column;
        &-outer{
            margin-top: 1rem;
            display: flex;
        }
    }
    &__title{
        margin: 0;
        font-size:smaller;
        color: #00ADB5;
        font-weight: 500;
    }
    &__input{
        width: 90%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .25rem;
        font-family: 'Roboto', sans-serif;
        // color: $videoComponent-color;
    }
}

.weight{
    &__container{
        display: flex;
        flex-direction: column;
    }

    &__title{
        margin: 0;
        font-size:smaller;
        color: #00ADB5;
        font-weight: 500;
    }

    &__input{
        width: 90%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .25rem;
        font-family: 'Roboto', sans-serif;
    }
}

.form {
    padding: 1rem;
}

.female-radio{
    margin-right: 1.25rem;
}

.age{
    &__title{
        font-size: smaller;
        color: #00ADB5;
        font-weight: 500;
        margin-bottom: .5rem;
    }
    &__input{
        width: 95%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .25rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: .5rem;
    }
}

.activity{
    &__title {
    font-size: smaller;
    color: #00ADB5;
    font-weight: 500;
    }
    &__input {
    width: 95%;
    border-radius: .625rem;
    margin-top: 0.25rem;
    padding: 0.25rem;
    background-color: #FFFFFF;
    outline: none;
    border: .0625rem solid #F4F4F4;
    border-radius: .25rem;
    font-family: 'Roboto', sans-serif;
    
    }
}

.results-btn{
    margin-top: .5rem;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 2.8125rem;
    cursor: pointer;
    width: 12.375rem;
    font-size: medium;
    padding: 10px;
    margin: 10px 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.btn-container{
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}

.btn-left{
    margin-right: 8px;
}