.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 113vw;
    height: 105%;
    position: absolute;
    right: 0rem;
    top: 0rem;
  
    &__image {
      width: 200px;
    }
  
    &__close{
      position: absolute;
      top: 0%;
      right: 2%;
      cursor: pointer;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 37.5rem;
      width: 20rem;
      height: 27rem;
      position: fixed;
      top: 50%;
      left: 57%;
      transform: translate(-50%, -50%);
      display: flex;
      background-color: white;
      box-shadow: 0rem 0rem 1.125rem 0rem rgba(0, 0, 0, 0.75);
      border-radius: 0.5rem;
      position: relative;
  
   
  
    &__spam-title {
      font-size: 0.813rem;
    }
  
    &__home-link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__title {
      font-size: 1rem;
      margin-top: 3rem;
      margin-bottom: 0%;
    }
  
    &__link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      align-items: center;
      height: 2.5rem;
      border-radius: 0.25rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
      background-color: #0095ff;
      border: none;
      color: #ffffff;
      width: 15rem;
      &:hover {
        background-color: black;
        cursor: pointer;
      }
    }
  }
  }
  