.cover {
    // height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    background-color: #00ADB5;
    justify-content: start;
    // place-content: space-around;
    // position: absolute;
    // top: 0;
}

.header-image{
    width: 50%;
}

.title {
    &-container{
        padding-top: .625rem;
    }
    &-header{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 8px;
        color: white;
    }
}

.hamburger{
    color: white;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.sidebar{
    animation: fadeIn .3s ease-in forwards; 
    position: absolute;
    top: 3.5rem;
    background-color: #393E46;
    // width: 12.5rem;
    width: 100%;
    height: 7.5rem;
    padding: 1rem;
    top: 4rem;
    left: 0rem;
    box-shadow: 0 -1rem 0 #333C41 ;
    // z-index: 1;
    z-index: 10;
    text-decoration: none;
    transition: 850ms;
}

.sidebar.active{
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  .sidebar-routes{
    text-decoration: none;
    color: white;
  }