.searchbar{
    &__container{
        height: 12.5rem;
    }
    &__btn-container{
        padding: 1rem;
    }
    &__input{
        background-image: url("../../assets/images/search-teal.png");
        background-repeat: no-repeat;
        background-position: left;
        background-position: 4%;
        width: 100%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        padding-left: 2rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .9375rem;
        font-family: 'Roboto', sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: .5rem;
    }
}

.recipe{
    &__btn{
    margin-top: .5rem;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 2.8125rem;
    cursor: pointer;
    width: 12.375rem;
    font-size: medium;
    padding: 10px;
    // margin: 10px 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
        &-container{
            display: flex;
            justify-content: center;
        }
    }
    &-img{
        height: 100px;
        width: 100px;
    }
}

.recipesearch__title{
    margin: 0;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.recipecard__reactions{
    justify-content: space-around;
}

.recipesearch-btn{
    margin-top: .5rem;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 2.8125rem;
    cursor: pointer;
    width: 12.375rem;
    font-size: medium;
    padding: 10px;
    margin: 10px 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.recipe-img-detail{
    max-height: 100%;
    width: 100vw;


}

.recipe-img-container{
    display: flex;
    justify-content: center;
    
}

.recipesearch-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.recipe {
    &__label{
        font-weight: 900;
        margin-bottom: 0;
    }
    &__macros{
        margin: 0;
        font-size: small;
        color: #393E46;
        margin-bottom: 1rem;
        &-container{
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__container-upper{
        padding-left: 1rem;
    }
    &__calories-container{
        display: flex;
        justify-content: center;
        &-inner{
            background-color: #FAFAFA;
            border-radius: 15px;
            padding: 1rem;
        }
    }
}
.calories{
    color: #393E46;
    font-weight: 600;
}

.macros {
    font-weight: 500;
}

.ingredients{
    font-weight: 600;
    margin-bottom: 0;
    &__container{
        padding-left: 1rem;
    }
}

.list{
    font-weight: 300;
    font-size: small;
    line-height: 1.5rem;
    &__container{
        margin: 0 auto;
        margin-right: 1rem;
    }
}