.searchbar{
    &__container{
        height: 12.5rem;
    }
    &__btn-container{
        padding: 1rem;
    }
    &__input{
        background-image: url("../../assets/images/search.svg");
        background-repeat: no-repeat;
        background-position: left;
        background-position: 4%;
        width: 95%;
        border-radius: .625rem;
        margin-top: 0.25rem;
        padding: 0.25rem;
        padding-left: 2rem;
        background-color: #FFFFFF;
        outline: none;
        border: .0625rem solid #F4F4F4;
        border-radius: .9375rem;
        font-family: 'Roboto', sans-serif;
    }
}

.recipe{
    &__btn{
    margin-top: .5rem;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 2.8125rem;
    cursor: pointer;
    width: 12.375rem;
    font-size: medium;
    padding: 10px;
    // margin: 10px 0px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
        &-container{
            display: flex;
            justify-content: center;
        }
    }
    &-img{
        height: 100px;
        width: 100px;
    }
}

.recipesearch__title{
    margin: 0;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.recipecard__reactions{
    justify-content: space-around;
}